@import 'parts/_vars.css';
@lost cycle none;

section{
        lost-utility:clearfix;
        position: relative 20% auto;
}
.lorem{
        lost-utility:clearfix;
        p{
                font-size: responsive 16px 26px;
        }

}

.ul{
        li:at-most(4) {
                 color: blue;
        }
        li:at-least(5) {
          color: red;
        }
}
input::placeholder {
  color: red;
}

@font-face {
  font-family: 'My Font';
  font-path: '/my/font/file';
  font-weight: normal;
  font-style: normal;
}
.foo {
  opacity: 0.8;
}
.foo {
  font-size: 2rem;
}
.foo {
  will-change: transform;
}
.foo {
  will-change: transform;
}
.icon{
  font-awesome: camera;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 10px;
}

.phone{
        background: url('../../images/1.png') no-repeat;
}
.phone-2{
        background: url('../../images/2.png') no-repeat;
}
.phone-3{
        background: url('../../images/3.png') no-repeat;
}
input{
        outline: none;
}
input[type="range"]::track {
  background: #9d9d9d;
  height: 8px;
}

input[type="range"]::thumb {
  background: #4286be;
  width: 16px;
  height: 8px;
}
