@import 'parts/_vars.css';
@import 'parts/_reset.css';
@import 'parts/_normalize.css';
@import 'parts/_keyframe.css';
@lost cycle none;
@font-face {
  font-family: 'MajestiBanner-Bold';
  font-path: '../font/MajestiBanner-Bold';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MajestiBanner-Medium';
  font-path: '../font/MajestiBanner-Medium';
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'MajestiBanner-MediumItalic';
  font-path: '../font/MajestiBanner-MediumItalic';
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'MajestiBanner-Light';
  font-path: '../font/MajestiBanner-Light';
  font-weight: lighter;;
  font-style: normal;
}
@font-face {
  font-family: 'YoonGothic-720';
  src: url("../font/YoonGothic-720.eot");
  src: url("../font/YoonGothic-720.eot?#iefix") format('embedded-opentype'),
       url("../font/YoonGothic-Thin.woff") format('woff'),
       /*url("../font/YoonGothic-720.ttf") format('truetype'),*/
       url("../font/YoonGothic-Thin.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family:'YoonGothic-720','MajestiBanner-Light', 'MajestiBanner-MediumItalic' ,'MajestiBanner-Medium','MajestiBanner-Bold', Serif, Sans-serif ;
}

nav{
    li a{
        color:#fff;
        font-size: 54px;
    }
}.nav-wrap{
    lost-utility:clearfix;
    height: 100%;
    .container{
        lost-column:1/2;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
section{
    height: 400px;
    &:nth-of-type(2n){
        background-color: #eee;
    }
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    h1{
        font-size: 54px;
        font-family: MajestiBanner-Bold;
        text-align: center;
        flex:1;

    }
}
.open-overlay{
    position: fixed;;
    right: 5rem;
    top: 3.2rem;
    z-index: 100;
    width: 34px;
    display: block;
    cursor: pointer;
    span {
        display: block;
        height: 1px;
        background-color: #000;
        cursor: pointer;
        margin-top: 8px;
    }
}

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(#000, 0.5);
  opacity: 0;

    &.overlay-active{

        opacity: 1;
    }
}
.overlay-slide-down {
  transition: all .4s ease-in-out;
  display: block;
  transform: translateX(0);
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  display: block;
  transform: translateX(-100%);
}
/*
@styleguide
@h1

Use the button classes on and `<h1>` elements.

<h1>head</h1>
*/
h1{
        font-size: 12px;
}
